Web Service/web/WEB-INF/wsit-calc.ws.Calculate.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Calculate" targetNamespace="http://ws.calc/" xmlns:tns="http://ws.calc/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="addition"/>
    <message name="additionResponse"/>
    <message name="ReadFile"/>
    <message name="ReadFileResponse"/>
    <portType name="Calculate">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="addition">
            <input message="tns:addition"/>
            <output message="tns:additionResponse"/>
        </operation>
        <operation name="ReadFile">
            <input message="tns:ReadFile"/>
            <output message="tns:ReadFileResponse"/>
        </operation>
    </portType>
    <binding name="CalculatePortBinding" type="tns:Calculate">
        <wsp:PolicyReference URI="#CalculatePortBindingPolicy"/>
        <operation name="hello">
            <input/>
            <output/>
        </operation>
        <operation name="addition">
            <input/>
            <output/>
        </operation>
        <operation name="ReadFile">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="Calculate">
        <port name="CalculatePort" binding="tns:CalculatePortBinding"/>
    </service>
    <wsp:Policy wsu:Id="CalculatePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="CalculatePortBinding_CalculateClass_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="CalculatePortBinding_CalculateClass_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
